body {
    margin: 0;
    padding: 0;
    font-family: verdana, helvetica, arial;
    font-size: 1.2em;
    background-color: white;
}

h1 {
    padding: 0;
    font-size: 150%;
    color: #007e7e;
}

h2 {
    padding: 0;
    font-size: 130%;
    color: #007e7e;
}

footer {
    padding: 0.5em 0;
    font-size: 50%;
    text-align: center;
}

:any-link {
    color: currentColor;
}


/*-----classes-----*/

.wrapper {
    margin: 0 auto;
    height: 100%;
    width: 95%;
}

.row {
    display: block;
    box-sizing: border-box;
    width: 100%;
}

.colLeft {
    display: inline;
    float: left;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
}

.colRight {
    display: inline;
    float: right;
    box-sizing: border-box;
    height: 100%;
    width: 30%;
}

.specials {
    padding: 20px;
    background-image: url("../img/cocktail.gif");
    background-repeat: repeat-x;
    border: 2px solid #007e7e;
    text-align: center;
}

.specials h1 {
    color: black;
}

.specials h2 {
    color: red;
}

.specials a:hover {
    background-color: rgb(134, 66, 54);
}

.cursive {
    font-style: italic;
}

.bold {
    font-weight: bold;
}


/*-----IDs-----*/

#banner {
    text-align: center;
}

#guarantee {
    font-style: italic;
    line-height: 150%;
    margin: 30px;
    padding: 20px 20px 20px 80px;
    background-image: url("../img/background.gif");
    background-repeat: no-repeat;
    border: 2px dashed white;
    background-color: #a7cece;
    color: #444444;
}


/*-----clearfix-----*/

.row::before, .row::after {
    content: "";
    clear: both;
    display: table;
}